*, *::after, *::before {
  box-sizing: border-box;
}
:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * .9)
}
body {
  margin: 0;
  padding: 0;
}
.board {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
  /* justify-items: center; */
  /* align-items: center; */
  width: 100vw;
  height: 100vh;
}
.cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  cursor: pointer;
}
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}
.cell:nth-child(3n +1) {
  border-left: none;
}
.cell:nth-child(3n) {
  border-right: none;
}
.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
  border-bottom: none;
}
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  position: absolute;
  content: "";
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
}
.cell.x::before,
.cell.x::after {
  background-color: black;
}
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  background-color: lightgrey;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  position: absolute;
  content: "";
  border-radius: 50%;
  width: var(--mark-size);
  height: var(--mark-size);
  
}
.cell.circle::before {
  border: calc(var(--mark-size) * .15) solid black;
}
.board.circle .cell:not(.x):not(.circle):hover::before {
  border: calc(var(--mark-size) * .15) solid lightgrey;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

/* modal */
.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .9);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: white;
  font-size: 3rem;
}
.winning-message button {
  font-size: 2rem;
  background-color: white;
  border: 1px solid black;
  padding: 1rem 2rem;
  cursor: pointer;

  transition: background-color .1s linear;
}
.winning-message button:hover {
  background-color: lightgrey;
}
.winning-message.show {
  display: flex;
}

